
html, body {
	color: #eeeeee;
	background-color:#555555;
	height:100%;
	margin:10px;
	padding:0;
	width:100%;
	font-family: monospace, monospace;
}
.chat-message-body {
	background-color:#a5f7c3;
	border-color:green;
	border-radius:10px;
	border-style:solid;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	position:relative;
	text-align:center;
	#width:250px;
}
#chat-history-container {
	background-color:#666666;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	#text-align:center;
	width:70%;
	overflow-y:scroll;
	height:65%;
}
#chat-input-container {
	margin-left:auto;
	margin-right:auto;
	width:70%;
}