__pycache__
*.pyc
*.tar.gz
*.so
*.deb
*.symvers
data/*
logs
test/data
runner
venv
.env
*.minus-github-api
.DS_Store
.vscode
.ninja_log
.polyscope.ini
.ipynb_checkpoints
.idea
nv_tegra_release
kokoro-*-*.wav
audio.wav
benchmark.csv
